min-release-age=3
min-release-age-exclude[]=@launchdarkly/akamai-edgeworker-sdk-common
min-release-age-exclude[]=@launchdarkly/akamai-server-base-sdk
min-release-age-exclude[]=@launchdarkly/akamai-server-edgekv-sdk
min-release-age-exclude[]=@launchdarkly/browser
min-release-age-exclude[]=@launchdarkly/client-testing-plugin
min-release-age-exclude[]=@launchdarkly/cloudflare-server-sdk
min-release-age-exclude[]=@launchdarkly/electron-client-sdk
min-release-age-exclude[]=@launchdarkly/fastly-server-sdk
min-release-age-exclude[]=@launchdarkly/jest
min-release-age-exclude[]=@launchdarkly/js-client-sdk
min-release-age-exclude[]=@launchdarkly/js-client-sdk-common
min-release-age-exclude[]=@launchdarkly/js-sdk-common
min-release-age-exclude[]=@launchdarkly/js-server-sdk-common
min-release-age-exclude[]=@launchdarkly/js-server-sdk-common-edge
min-release-age-exclude[]=@launchdarkly/node-client-sdk
min-release-age-exclude[]=@launchdarkly/node-server-sdk
min-release-age-exclude[]=@launchdarkly/node-server-sdk-dynamodb
min-release-age-exclude[]=@launchdarkly/node-server-sdk-otel
min-release-age-exclude[]=@launchdarkly/node-server-sdk-redis
min-release-age-exclude[]=@launchdarkly/openfeature-js-server-common
min-release-age-exclude[]=@launchdarkly/openfeature-node-server
min-release-age-exclude[]=@launchdarkly/react-native-client-sdk
min-release-age-exclude[]=@launchdarkly/react-sdk
min-release-age-exclude[]=@launchdarkly/sdk-logs-js
min-release-age-exclude[]=@launchdarkly/sdk-meta
min-release-age-exclude[]=@launchdarkly/server-sdk-ai
min-release-age-exclude[]=@launchdarkly/server-sdk-ai-langchain
min-release-age-exclude[]=@launchdarkly/server-sdk-ai-openai
min-release-age-exclude[]=@launchdarkly/server-sdk-ai-vercel
min-release-age-exclude[]=@launchdarkly/shopify-oxygen-sdk
min-release-age-exclude[]=@launchdarkly/svelte-client-sdk
min-release-age-exclude[]=@launchdarkly/vercel-server-sdk
min-release-age-exclude[]=@launchdarkly/vue-client-sdk
min-release-age-exclude[]=launchdarkly-electron-client-sdk
min-release-age-exclude[]=launchdarkly-js-client-sdk
min-release-age-exclude[]=launchdarkly-js-sdk-common
min-release-age-exclude[]=launchdarkly-node-client-sdk
min-release-age-exclude[]=launchdarkly-react-client-sdk
min-release-age-exclude[]=launchdarkly-vue-client-sdk
